@charset "utf-8";
/* ParaLideres.org v. 4.0.0 
   last_updates.css
   style
*/
#last_updates{
	color:#0178A3;
	position:relative;
	float:left;
	width:729px;
	height:235px;
	border-right: 1px solid #f4f4f4;
}

#last_updates #tabs { position: relative; padding: 0; border: 0px; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */